<!-- <div class="about" id="about">
    <div class="row">
        <div class="col-lg-6 col-12">
            <div class="img"><img src="assets/imgs/pic7.jpg"></div>
        </div>
        <div class="col-lg-6 col-12 text-right">
            <div class="about-child">
                <h2 class="text-uppercase"><span>abo</span>ut us</h2>
                <p>Get full range of premium Industrial services for your business</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </p>
                <a href="#"><i class="fas fa-long-arrow-alt-left fa-2x"></i><span>Read more</span></a>
            </div>
        </div>
    </div>
</div>
<div class="services" id="service">
    <div class="container">
        <h2 class="text-capitalize"><span>Our</span> services</h2>
    </div>
    <div class="services-child">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/pic4.jpg">
                        <a href="#">
                            <h4>Chemical Refinery</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/pic5.jpg">
                        <a href="#">
                            <h4>Steel Industry</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/pic6.jpg">
                        <a href="#">
                            <h4>Auto Engineering</h4>
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qui</p>
                    </div>
                </div>
            </div>
            <a href="#"><i class="fas fa-long-arrow-alt-left fa-2x"></i><span>Read more</span></a>
        </div>
    </div>
</div> -->

<div class="project mt-3">
    <div class="container text-center card">
        <h1 class="card-header namer"><i class="fas fa-arrow-down"></i><i class="fas fa-arrow-down"></i> premios / auspiciadores <i class="fas fa-arrow-down"></i><i class="fas fa-arrow-down"></i></h1>
    </div>
    <div class="project-child">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/torta.jpg">
                        <div class="yellow-overlay d-flex flex-column align-items-center justify-content-center">

                            <p><img src="assets/imgs/premios/logos/zuspiros.png" class="premio"></p>

                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/termometro.png">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/rafaela.png" class="premio"></p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/oximetro.jpg">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/rafaela.png" class="premio"></p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/barbijo2.jpg">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/aeris.jpg" class="premio"></p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/camita.jpg">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p class="namer3">Ruben y anónimo</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/cupcake.jpg">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/guau2.png" class="premio"></p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/adobo.png">
                        <div class="yellow-overlay d-flex flex-column align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/almuerzo.jpg"></p>
                            <p class="namer3">y</p>
                            <p class="namer3">Hardy</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/kekealfajor.jpg">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p class="namer3">Hortencia</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/barbijo1.png">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/tikay.png" class="premio"></p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/pelo.jpg">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/barbero.jpg" class="premio"></p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/pelotavaso.jpg">
                        <div class="yellow-overlay d-flex flex-column align-items-center justify-content-center">
                            <p class="namer3">Martín Salazar</p>
                            <p class="namer3">Y</p>
                            <p class="namer3">Isabél Bravo</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/porta.jpg">
                        <div class="yellow-overlay d-flex flex-column align-items-center justify-content-center">

                            <p class="namer3">Maria Pía</p>
                            <p class="namer3">Y</p>
                            <p><img src="assets/imgs/premios/logos/moretty.jpg" class="premio"></p>

                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/postre.png">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/pecachoc.jpg" class="premio"></p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/ropitaCH.jpg">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p class="namer3">Julio Ruíz</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/torta2.jpg">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/ananau.jpg" class="premio"></p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/cupcake.jpg">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/adriana.jpg" class="premio"></p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/zapatillas.jpg">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/crack.jpg"></p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/pintura.png">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p class="namer3">David Villalba - Pintor</p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/logos/karval.jpg">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/karval.jpg" class="premio"></p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/logo.png" class="logossv">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p class="namer3">¡Y MUCHAS SORPRESAS MÁS!</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div>
                        <img src="assets/imgs/premios/logos/nebulosa.png">
                        <div class="yellow-overlay d-flex align-items-center justify-content-center">
                            <p><img src="assets/imgs/premios/logos/nebulosa.png"></p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- <div class="contact" id="contact">
    <div class="container">
        <h2 class="text-capitalize"><span>get</span> in touch</h2>
    </div>
    <div class="contact-child">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="contact-form">
                        <form>
                            <input type="text" placeholder="Your name">
                            <input type="text" placeholder="Your Phone number">
                            <input type="email" placeholder="Your email">
                            <textarea placeholder="Message"></textarea>
                            <input type="submit" value="send" class="text-uppercase">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->